/*Перероблено під LESS*/
.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}

@color_grey: #aaaaaa;
@color_white: #ffffff;




.font-basic(@_font: titillium-regular, @_size: 16px, @_weight: normal, @_color: @color_white, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
}

.animation-basic(@_time: .3s){
  -webkit-transition: all @_time ease;
  -moz-transition: all @_time ease;
  -ms-transition: all @_time ease;
  -o-transition: all @_time ease;
  transition: all @_time ease;
}

.border-basic(@_size: 5px, @_border: none, @_bg: none, @_animate: none, @_time: .3s){
  -webkit-border-radius: @_size;
  border-radius: @_size;
  border: @_border;
  background: @_bg;
  & when (@_animate = true) {.animation-basic(@_time);}
}