.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {

overflow: hidden;
    zoom:1; /* Хак для IE 6 и 7 */
}
.wrapper{
  width: 1100px;
  margin: 0 auto;
  
