*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}
.wrapper, .menu{
    width: 1240px;
    margin: 0 auto;
}
@font-face {
  font-family: 'titillium-regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Regular.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Bold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-semibold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-SemiBold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_pfdintextcondpro-light';
  src: url('../fonts/pfdintextcondpro-light.eot');
  src: local('☺'), 
  url('../fonts/pfdintextcondpro-light.woff') format('woff'), 
  url('../fonts/pfdintextcondpro-light.ttf') format('truetype'), 
  url('../fonts/pfdintextcondpro-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-light';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Light.woff') format('woff'),
  url('../fonts/TitilliumWeb-Light.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Light.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@color_white: white;
.font-basic(@_font: titillium-regular, @_size: 18px, @_height: none, @_color: @color_white){
  font-family: @_font;
  font-size: @_size;
  font-height: @_height;
  color: @_color;
}
.line(){
  width: 50%;
  margin-left: 323px;
}
.chek(){
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    border: 1px solid #6e6e6e;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 7px solid #e4352e;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}

.radius(@bor_rad: 5px, @bac_col: #e0e2d9, @pad: 10px, @mar: 10px){
  border-radius: @bor_rad; 
  background: @bac_col;
  padding: @pad;
  margin: @mar;
}
body {
  width: 1280px;
    margin: 0px auto;
    text-align: center;
}
.header{
    position: fixed;
    width: 1278px;
    background: url(../images/pixel.png);
    .menu{
      .clearfix();
      margin-bottom: 10px;
        ul{
          .clearfix();
          float: left;
          li{
            float: left;
            list-style-type: none;
            padding: 21px 69px;
            a{
              text-decoration: none;
              text-transform: uppercase;
              .font-basic(Conv_pfdintextcondpro-light, 16px);    

            }
          }
        }
        .contakt{
          .clearfix();
          float: right;
          margin-right: 150px;
          .font-basic();
          span{
            font-size: 23px;
          }
          a{
            .radius(4px, #e67800, 1px, 10px);
            text-decoration: none;
            .font-basic(Conv_pfdintextcondpro-light, 16px);
            color: #00000a;     
          }

        }
    }
}

.bg1{
  background: url(../images/kartinka.png) no-repeat;
  width: 100%;
  height: 640px;
    img{
      margin-top: 57px;
    }
   h1{
    .font-basic(Conv_pfdintextcondpro-light, 48px);
    text-transform: uppercase;
    span{
      .font-basic(Conv_pfdintextcondpro-light, 48px);
      text-transform: none;
    }
   }
   form{
    float: right;
    margin-right: 285px;
    margin-top: 20px;
    width: 260px;
    height: 275px;
    background: #b3bca6;
    border-radius: 12px;
    opacity: 0.8;
      p{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #242020);

      }
      input{
        .radius();
      }
      button{
        .radius(6px, #d30a09, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
   }
   .cina{
    float: right;
    margin-top: 232px;
    margin-right: -27px;

   }
}
.bg2{
  .main{
    width: 100%;
  .clearfix();
     p{
      .font-basic(Conv_pfdintextcondpro-light, 30, none, #000000);
    }
    hr{
      .line;
    }
    h2{
       .font-basic(Conv_pfdintextcondpro-light, 43, none, #000000);
    }
    span{
       .font-basic(Conv_pfdintextcondpro-light, 24, none, #000000);
    }
}
  .ban1{
    .clearfix();
  .ban{
    float: left;
    margin: 86px;
    p{
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
    }
  }
  .ban2{
    .clearfix();
  .ban{
    float: left;
    margin: 20px 42px 78px 113px;
    p{
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
    }
  }
  ul{
    margin-left: 500px;
    li{
      text-align: left;
      list-style-type: none;
    }
  }
  .footer{
    h2{
      .font-basic(Conv_pfdintextcondpro-light, 45, none, #000000);
    }
    hr{
      .line;
    }
      li{
      .font-basic(Conv_pfdintextcondpro-light, 22, none, #000000);
      padding: 10px;
    
    }
  }
}
.bg3{
   background: url(../images/buket.png) no-repeat;
   width: 100%;
   height: 500px;
   h2{
      .font-basic(Conv_pfdintextcondpro-light, 36, none, #000000);
    }
    p{
      .font-basic(Conv_pfdintextcondpro-light, 26, none, #000000);
    }
    form{
      span{
        margin-left: 110px;
        .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
      }
      float: right;
      width: 158px;
      margin-right: 333px;
        input{
        .radius();
        width: 210px;
      }
      button{
        .radius(6px, #d30a09, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
    }
}
.bg4{
  .clearfix();
   h2{
      .font-basic(Conv_pfdintextcondpro-light, 45, none, #000000);
    }
    hr{
      .line;
    }
  .mosk{
    float: left;
    margin: 103px;
    p{
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
  }
}
.bg5{
  background: #f0e7ff;
  .clearfix();
  span{
    font-weight: 900;
  }
  h2{
    margin: 10px;
      .font-basic(Conv_pfdintextcondpro-light, 45, none, #000000);
    }
    hr{
      .line;
    }
  .uz1{
    .clearfix();
    .uzun{
       .squaredThree {
      .chek();
    }
      float: left;
      margin: 84px;
      p{
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
    }
  }
  .uz2{
    .clearfix();
    .uzun{
      .squaredThree {
      .chek();
    }
      float: left;
      margin: 83px;
      p{
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
    }
  }
  .uz3{
    .clearfix();
    .uzun{
      .squaredThree {
      .chek();}
      float: left;
      margin: 84px;
      p{
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
    }
  }
  form{
    .squaredThree {
      .chek();
}
    p{
      float: left;
      .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
      span{
        float: right;
        margin-left: 26px;
        .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
      }
    }
      .zak{
        float: left;
        margin: 15px 10px 60px 369px;
        .font-basic(Conv_pfdintextcondpro-light, 24, none, #000000);
      }
         input{
        .radius();
         float: left;
      }
      button{
        .radius(6px, #d30a09, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
        float: left;
      }
    }
}
.bg6{
    h2{
    margin: 10px;
      .font-basic(Conv_pfdintextcondpro-light, 45, none, #000000);
    }
    hr{
      .line;
    }
    img{
      float: left;
      margin: 60px;
    }
    .kesu{
      .clearfix();
    .kes{
      float: left;
      width: 57%;
      margin-top: 70px;
      p{
        text-align: left;
        .font-basic(Conv_pfdintextcondpro-light, 25, none, #000000);
        span{
        .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
        float: left;
      }
    }
    }
   span{
    float: left;
  }
  .video{
    p{
      .font-basic(Conv_pfdintextcondpro-light, 25, none, #000000);
    }
    span{
      margin-left: 283px;
      width: 34%;
      text-align: left;
      margin-top: 36px;
      .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
    }
    img{
      margin: 0px 10px 2px 282px;
      float: left;
    }
  }
  }
  .kesu2{
    overflow: hidden;
  .video{
    float: left;
    text-align: left;
    margin-left: 59px;
    margin-top: 81px;
    p{
      .font-basic(Conv_pfdintextcondpro-light, 25, none, #000000);
      span{
     .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
   }
 }
    .vid{
      margin-top: 21px;
      width: 55%;
      float: left;
      .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
    }
    img{
      float: left;
      margin: 0px 10px 2px 0px;
    }
  }
  img{
    float: right;
    margin-right: 151px;
  }
 }
 .zakazat{
  p{
    .font-basic(Conv_pfdintextcondpro-light, 30, none, #000000);
  }
  a{
    .radius(4px, #cf0101, 5px, 10px);
    text-decoration: none;
    .font-basic(Conv_pfdintextcondpro-light, 40px);
    color: #ffffff;     
    }
 }
 .what{
  .clearfix();
  p{
    .font-basic(Conv_pfdintextcondpro-light, 30, none, #000000);
    margin-top: 30px;
  }
  .fotka{
    float: left;
    width: 365px;
    margin: 25px;
    img{
      float: left;
      margin-bottom: 0px;
    }
    span{
      float: left;
      text-align: left;
      margin-left: 106px;
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
  }
  }
  .what1{
  .clearfix();
  .fotka{
    float: left;
    width: 365px;
    margin: 25px;
    img{
      float: left;
      margin-bottom: 0px;
    }
    span{
      float: left;
      text-align: left;
      margin-left: 106px;
      .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
    }
  }
  }
  .vse{
    .font-basic(Conv_pfdintextcondpro-light, 24, none, #000000);

  }
}
.bg7{
  background: url(../images/akci.png) no-repeat;
   width: 100%;
   height: 500px;
   h2{
      .font-basic(Conv_pfdintextcondpro-light, 36, none, #ffffff);
      float: right;
      margin-right: 417px;
    }
    p{
      .font-basic(Conv_pfdintextcondpro-light, 26, none, #ffffff);
      float: right;
      margin-right: 175px;
    }
    form{
      span{
        margin-left: 110px;
        .font-basic(Conv_pfdintextcondpro-light, 20, none, #ffffff);
      }
      float: left;
      width: 158px;
      margin-left: 703px;
        input{
        .radius();
        background: #787878;
        width: 210px;
      }
      button{
        .radius(6px, #d61210, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
    }
}
.bg8{
  .clearfix();
  h2{
    .font-basic(Conv_pfdintextcondpro-light, 42, none, #000000);
  }
  hr{
      .line;
    }
    .text_8{
      overflow: hidden;
      p{
        margin-top: 60px;
        float: left;
        width: 60%;
        text-align: left;
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
      }
      .text-style-1{
        margin-top: 15px;
      }
      img{
        float: right;
        margin-top: -230px;
      }
    }
    .tip{
      float: left;
      margin: 108px;
      p{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        margin: 5px;
      }
      .tip1{
        margin-top: -15px;
      }
    }
}
.bg9{
  background: #dceffd;
  .clearfix();
   h2{
    .font-basic(Conv_pfdintextcondpro-light, 42, none, #000000);
  }
  hr{
      .line;
    }
    .etap{
      .clearfix();
      background-color: #ffffff;
      width: 978px;
      margin-left: 153px;
      border-radius: 29px;
      margin-top: 44px;
      p{
        .font-basic(Conv_pfdintextcondpro-light, 20, none, #000000);
        margin-top: 20px;
      }
      .etap1{
        float: left;
        margin: 34px;
        p{
          .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        }
      }
    }
    .abo{
      .clearfix();
      p{
        margin-top: 25px;
        .font-basic(Conv_pfdintextcondpro-light, 24, none, #000000);
      }
      .svidanie{
        float: left;
        margin-left: 200px;
        hr{
          width: 50%;
          margin-left: 72px;
        }
        ul{
          text-align: left;
          li{
            list-style-type: none;
            margin-top: 28px;
            .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
          }
        }
        button{
        .radius(6px, #d61210, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
      span{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        font-weight: 900;
      }
      }
      .vsi{
        float: left;
        margin: 122px 30px 0px 63px;
        img{
          margin-bottom: 293px;
        }
        span{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        font-weight: 900;
      }
      }
      .pohod{
        float: left;
        margin-left: 25px;
        hr{
          width: 50%;
          margin-left: 72px;
        }
        ul{
          text-align: left;
          li{
            list-style-type: none;
            margin-top: 10px;
            .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
          }
        }
        button{
        .radius(6px, #cf5801, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
      span{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        font-weight: 900;
      }
      }
    }
    .abo1{
      .clearfix();
      p{
        margin-top: 25px;
        .font-basic(Conv_pfdintextcondpro-light, 24, none, #000000);
      }
      .svidanie{
        float: left;
        margin-left: 200px;
        hr{
          width: 50%;
          margin-left: 72px;
        }
        ul{
          text-align: left;
          li{
            list-style-type: none;
            margin-top: 28px;
            .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
          }
        }
        button{
        .radius(6px, #d61210, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
      span{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        font-weight: 900;
      }
      }
      .vsi{
        float: left;
        margin: 122px 30px 0px 63px;
        img{
          margin-bottom: 293px;
        }
        span{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        font-weight: 900;
      }
      }
      .pohod{
        float: left;
        margin-left: 25px;
        hr{
          width: 50%;
          margin-left: 72px;
        }
        ul{
          text-align: left;
          li{
            list-style-type: none;
            margin-top: 28px;
            .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
          }
        }
        button{
        .radius(6px, #cf5801, 2px);
        margin-top: 17px;
        width: 225px;
        height: 38px;
        .font-basic();
      }
      span{
        .font-basic(Conv_pfdintextcondpro-light, 18, none, #000000);
        font-weight: 900;
      }
      }
    }
}
.bg10{
  margin-top: 20px;
  .clearfix();
   h2{
    .font-basic(Conv_pfdintextcondpro-light, 36, none, #000000);
  }
  hr{
      .line;
    }
    .fotka{
      float: left;
      .kupit{
        float: left;
        margin: 30px 7px 20px 40px;
        width: 50%;
         button{
        .radius(6px, #d61210, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
      }
      .zakaz{
        float: left;
        margin: 40px 27px 30px 0px;
        width: 41%;
         button{
        .radius(6px, #cf5801, 2px);
        width: 225px;
        height: 38px;
        .font-basic();
        margin-top: 70px;
      }
      }
    }
}
.bg11{
  background: url(../images/ban11.png) no-repeat;
   width: 100%;
   height: 332px;
   h2{
      .font-basic(Conv_pfdintextcondpro-light, 36, none);
    }
    p{
      .font-basic(Conv_pfdintextcondpro-light, 26, none);
    }
    img{
      margin: 62px 0px 0px 218px;
    }
    form{
      margin-top: 53px;
      float: right;
      width: 158px;
      margin-right: 413px;
        input{
        .radius();
        width: 210px;
      }
      button{
        .radius(6px, #d30a09, 2px, 0px);
        width: 225px;
        height: 38px;
        .font-basic();
      }
    }
}
.bg12{
  background: url(../images/misto.png) no-repeat;
   width: 100%;
   height: 186px;
   .clearfix();
   .logo{
    float: left;
    margin: 60px 0px 0px 267px;
    p{
      .font-basic(Conv_pfdintextcondpro-light, 18, none);
    }
   }
   .contakt{
    float: right;
    margin: 58px 341px;
    .clearfix();
      span{
        .font-basic(Conv_pfdintextcondpro-light, 25, none);
      }
      p{.font-basic(Conv_pfdintextcondpro-light, 18, none);}
      a{
      .radius(4px, #e67800, 1px, 10px);
      text-decoration: none;
      .font-basic(Conv_pfdintextcondpro-light, 16px);
      }
   }
}